
    <!-- Page Header Start -->
    <div
      class="container-fluid page-header mb-5 wow fadeIn"
      data-wow-delay="0.1s"
    >
      <div class="container">
        <h1 class="display-3 mb-3 animated slideInDown">Fruits</h1>
        <nav aria-label="breadcrumb animated slideInDown">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
              <a class="text-body" href="#">Home</a>
            </li>
            <li class="breadcrumb-item">
              <a class="text-body" href="#">Pages</a>
            </li>
            <li class="breadcrumb-item text-dark active" aria-current="page">
              Fruits
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <!-- Page Header End -->

    <!-- Product Start -->
    <div class="container-xxl py-5">
      <div class="container">
        <div class="row g-0 gx-5 align-items-end">
          <div class="col-lg-6">
            <div
              class="section-header text-start mb-5 wow fadeInUp"
              data-wow-delay="0.1s"
              style="max-width: 500px"
            >
              <h1 class="display-5 mb-3">Our Fruits</h1>
              <p>
                Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum
                diam justo sed rebum vero dolor duo.
              </p>
            </div>
          </div>
          <div
            class="col-lg-6 text-start text-lg-end wow slideInRight"
            data-wow-delay="0.1s"
          >
            <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">
              <li class="nav-item me-2">
                <a
                  class="btn btn-outline-primary border-2 active"
                  data-bs-toggle="pill"
                  href="#tab-1"
                  >Vegetable</a
                >
              </li>
              <li class="nav-item me-2">
                <a
                  class="btn btn-outline-primary border-2"
                  data-bs-toggle="pill"
                  href="#tab-2"
                  >Fruits
                </a>
              </li>
              <li class="nav-item me-0">
                <a
                  class="btn btn-outline-primary border-2"
                  data-bs-toggle="pill"
                  href="#tab-3"
                  >Fresh</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="tab-content">
          <div id="tab-1" class="tab-pane fade show p-0 active">
            <div class="row g-4" id="suldaan">
              <% for(const fruit of khudaar ){ %>
              <div
                class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp"
                data-wow-delay="0.1s"
              >
                <div class="product-item">
                  <div class="position-relative bg-light overflow-hidden">
                    <img
                      class="img-fluid w-100"
                      src="/web/img/<%= fruit.image %>.jpg"
                      alt=""
                    />
                    <div
                      class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3"
                    >
                      New
                    </div>
                  </div>
                  <div class="text-center p-4">
                    <a class="d-block h5 mb-2" href=""> <%= fruit.name %> </a>
                    <span class="text-primary me-1">$<%= fruit.price %></span>
                    <span class="text-body text-decoration-line-through"
                      >$<%= fruit.discount %></span
                    >
                  </div>
                  <div class="d-flex border-top">

                    <small class="w-50 text-center border-end py-2">
                      <a class="text-body" href=""
                        ><i class="fa fa-eye text-primary me-2"></i><%=
                        fruit.detail %></a
                      >
                    </small>
                    <small class="w-50 text-center py-2">
                      <a class="text-body" href=""><i class="fa fa-shopping-bag text-primary me-2"></i>Add to cart</a>
                  </small>
                   
                 
                    
                  </div>
                </div>
              </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>


    <script>
  
      let div = document.querySelector("#suldaan");
      // console.log(div);

      div.addEventListener("click", (e) => {
        e.preventDefault();
        // console.log(e.target);

        // Delete Button
        if (e.target.hasAttribute("data-id")) {
          // console.log("waa runtaa");
          const id = e.target.getAttribute("data-id");
          console.log(id);

          // Call Api
          // Localhost:1200/fruits/4
          fetch(`/fruits/${id}`, { method: "DELETE" })
            .then(location.reload())
            .catch((err) => console.log(err));
        }

        // Update Button
        // Update Button

        if (e.target.hasAttribute("data-doc")) {
          // console.log("Update Button");

          const id = e.target.getAttribute("data-doc");
          console.log(id);

          // Localhost:1200/fruits/updateForm/3
          location.href = `/fruits/updateForm/${id}`;
        }
      });
    </script>