<!DOCTYPE html>
<html lang="en">
  <!-- Head Section  -->
  <%- include('./head.ejs') %>
  <body>


    <!-- Nav Section  -->
    <%- include('./nav.ejs') %>
    <%- body %> 

    <!-- Footer Section  -->
    <%- include('./footer.ejs') %>

    <!-- Back to top Section  -->
    <%- include('./backtop.ejs') %>

    <!-- Scripts Section  -->
    <%- include('./Scripts.ejs') %>
  </body>
</html>
